@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Source Sans Pro', sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Source Sans Pro', sans-serif;
  }
}

.swiper-pagination-bullet {
  background-color: #333132 !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: #ff8f1c !important;
}
